.slick-arrow {
  display: none !important;
}

.slick-list {
  height: 462px;
}

.slick-slide {
  display: grid !important;
  place-items: flex-end;
  width: 300px !important;
  height: 463px;
  border-radius: 15px !important;
  margin-right: 20px;
  padding-bottom: 20px !important;
  position: relative !important;

  :focus-visible {
    outline: none !important;
  }
}